$display2-size:                     5.5rem !default;
$primary:                         #f24f1d !default;
$font-family-sans-serif:          "Fira Sans" !default;
$font-family-monospace:           "Fira Mono" !default;
$secondary:                      #7b7b7b !default;
$border-radius:                   .25rem !default;
$custom-select-border-radius:     $border-radius !default;
$input-border-radius-lg:          1000rem !default;
$input-border-radius-sm:          1000rem !default;
$input-border-radius:             1000rem !default;
$btn-border-radius:               1000rem !default;
